img {
    max-width: 160px;
    max-height: 160px;
}
header {
    border-color: black;
    margin: 10px;
    padding: 20px;
    background-color: black;
    color: white;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -10px
}
footer {
    text-align: center;
    border-color: gold;
    margin: 100px;
    background-color: gold;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;

}
div :first-child {
    justify-content: right;
    align-items: right;
    display:flex;
    gap: 100px;
    text-decoration-color: white;
}
li {
    color: white;

}
a {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div :second-child {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}